/* purgecss start ignore */

@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url('../public/font/Comfortaa/static/Comfortaa-Bold.ttf') format('truetype');
}

.font-comfortaa-bold,title{
    font-family: 'Comfortaa-Bold';
}

.main-body {
    background-color: #622A90;
    background-image: linear-gradient(to right, #622A90 0%, #BA3095 95%), linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}