/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

.main-body{
    font-family: 'Helvetica Neue Thin';
    color: #fff;
    background-color: #622A90;
    background-image: linear-gradient(to right, #622A90 0%, #BA3095 95%),linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}